<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="header-content">
      <div class="logo-section">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
          <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="Flowering Heart Yoga Logo" class="site-logo">
        </a>
        <div class="tagline">
          <p>For a Vibrant Body,</p>
          <p>Peaceful Mind</p>
          <p>and Joyful Heart</p>
        </div>
      </div>
      
      <div class="contact-info">
        <p>{{ site.phone }}</p>
        <p>{{ site.email }}</p>
      </div>
    </div>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ "/" | relative_url }}">WELCOME</a>
        <a class="page-link" href="{{ "/about-yoga/" | relative_url }}">ABOUT YOGA</a>
        <a class="page-link" href="{{ "/programs/" | relative_url }}">PROGRAMS</a>
        <a class="page-link" href="{{ "/whole-hearted-health/" | relative_url }}">WHOLE HEARTED HEALTH</a>
        <a class="page-link" href="{{ "/simone/" | relative_url }}">SIMONE</a>
        <a class="page-link" href="{{ "/inspirations/" | relative_url }}">INSPIRATIONS</a>
        <a class="page-link" href="{{ "/gallery/" | relative_url }}">GALLERY</a>
        <a class="page-link" href="{{ "/contact/" | relative_url }}">CONTACT</a>
      </div>
    </nav>
  </div>
</header>
